html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  letter-spacing: 0.6px;
  line-height: 2;
  color: #777;
  font-family: "FOT-筑紫ゴシック Pr5N M", sans-serif;
  overflow-x: hidden;
}